@charset "UTF-8";
/*!Обнуление и т.д---------------------------------------------------------------------------------------*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus, :active {
  outline: none;
}
a:focus, a:active {
  outline: none;
}
nav, footer, header, aside {
  display: block;
}
html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  background-color: var(--buckground-color);
  color: var(--text-color);
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input, button, textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a, a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
  padding: 0;
}

/*!Шрифты---------------------------------------------------------------------------------------*/
/* montserrat-regular - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/montserrat-v25-cyrillic_latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('../fonts/montserrat-v25-cyrillic_latin-regular.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-600 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/montserrat-v25-cyrillic_latin-600.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('../fonts/montserrat-v25-cyrillic_latin-600.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-700 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/montserrat-v25-cyrillic_latin-700.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('../fonts/montserrat-v25-cyrillic_latin-700.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-800 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/montserrat-v25-cyrillic_latin-800.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('../fonts/montserrat-v25-cyrillic_latin-800.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/*!Переменные---------------------------------------------------------------------------------------*/
:root {
  --main-color: #FF9900;
}
:root {
  --buckground-color: #fff;
}
:root {
  --text-color: #333;
}

/*!Общие классы---------------------------------------------------------------------------------------*/
.container {
  max-width: 1800px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.list {
  display: flex;
}
.item {
  display: flex;
}
.link {
  color: var(--text-color);
}
.btn {
  display: inline-block;
  color: #fff;
  background-color: var(--main-color);
  padding: 24.83px 36.88px;
  font-weight: 700;
  font-size: 23.4581px;
  line-height: 29px;
}
.heading {
  font-size: 48px;
  line-height: 1;
}

/**header---------------------------------------------------------------------------------------*/
.header {
  background-color: #fff;
  box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
}
.header__container {
  display: flex;
  align-items: center;
  padding-top: 14px;
  padding-bottom: 14px;
}
.header__logo {
  margin-right: auto;
}
.header__nav {
  display: flex;
}
.header__list {
  align-items: center;
  gap: 85px;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}
.header__item {
}
.header__item-active {
}
.header__link {
}
.header__search {
}
.header__search-icon {
  display: block;
  width: 24px;
  height: 24px;
  margin-left: 85px;
}
.header__search-active {
  display: none;
}

/**hero---------------------------------------------------------------------------------------*/
.hero {
}
.hero__container {
  height: 620px;
  background-image: url('/img/photo/BGmain.jpg');
  background-repeat: no-repeat;
  background-size: 1770px 620px;
  background-position: center;
}
.hero__box {
  max-width: 848px;
  margin-left: 80px;
  padding: 100px 0px;
}
.hero__title {
  color: #fff;
  font-weight: 800;
  font-size: 70px;
  line-height: 85px;
}
.hero__discription {
  color: #fff;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  margin-top: 24px;
  margin-bottom: 90px;
}
.hero__btn {
}
.hero__list {
  justify-content: flex-end;
  margin-top: 55px;
}
.hero__item {
  width: 15px;
  height: 15px;
  border-radius: 100px;
  background-color: rgba(255, 255, 255, 0.4);
}
.hero__item-active {
  background-color: #fff;
}
.hero__item:nth-child(2n) {
  margin: 0px 20px;
}
.hero__link {
}

/**about-US---------------------------------------------------------------------------------------*/
.about-us {
}
.about-us__container {
  padding-top: 105px;
  padding-bottom: 100px;
}
.about-us__top {
  max-width: 1235px;
}
.top-heading {
  margin-bottom: 26px;
}
.top-discription {
  line-height: 32px;
}
.about-us__bottom {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}
.bottom__left {
  display: flex;
  align-items: end;
  width: 868px;
  height: 622px;
  background-image: url(/img/photo/usimg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.left__box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 868px;
  height: 196px;
  background: rgba(0, 0, 0, 0.5);
}
.left__box-discription {
  width: 454px;
  height: 96px;
  line-height: 32px;
  font-weight: 700;
  color: #fff;
  transform: translateX(-7px);
}
.left__box-btn {
  gap: 10px;
  font-size: 16px;
  padding: 20px 38px;
  border: 3px solid var(--main-color);
  background-color: transparent;
  transform: translateX(11px);
  line-height: 1;
}
.bottom__right {
}
.right__list {
  flex-direction: column;
}
.right__item {
  align-items: center;
  width: 870px;
  height: 295px;
  border: 1px solid #CACACA;
}
.right__item:nth-child(2n) {
  margin-top: 32px;
}
.right__item-icon {
  transform: translateX(-7px);
  padding: 60px 65px;
}
.right__item-box {
  transform: translateX(-20px);
  width: 452px;
}
.right__item-heading {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}
.right__item-discription {
  margin-top: 8px;
  line-height: 32px;
}

/**work---------------------------------------------------------------------------------------*/
.work {
}
.work__container {
  display: flex;
  justify-content: space-between;
}
.work__rignt {
}
.work__heading {
  margin-top: 6px;
}
.work__nav {
}
.work__list {
  margin-top: 55px;
  margin-bottom: 45px;
}
.work__item {
  margin-right: 85px;
}
.work__item:last-child {
  margin: 0px;
}
.work__link {
  font-size: 18px;
  line-height: 22px;
}
.work__link-active {
  color: var(--main-color);
}
.work__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 8px;
}
.work__discription {
  width: 758px;
  height: 320px;
  line-height: 32px;
  margin-bottom: 50px;
}
.work__btn {
  padding: 15px 38px;
  border: 1px solid #333;
  background-color: #fff;
  color: #333;
  font-weight: 400;
  font-size: 16px;
}
.work__btn-active {
  background-color:var(--main-color);
  color: #fff;
  font-weight: 700;
  border: none;
}
.work__btn:nth-child(2n) {
  margin-left: 28px;
}
.work__left {
}
.work__img {
  margin-top: 186px;
  width: 870px;
  height: 460px;
}