@charset "UTF-8";
/*!Обнуление---------------------------------------------------------------------------------------*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  font-family: 'Montserrat' sans-serif;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}
/*!Обнуление---------------------------------------------------------------------------------------*/

/*!Шрифты---------------------------------------------------------------------------------------*/
/* montserrat-regular - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/montserrat-v25-cyrillic_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/montserrat-v25-cyrillic_latin-regular.woff') format('woff'), /* Modern Browsers */
}
/* montserrat-600 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/montserrat-v25-cyrillic_latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/montserrat-v25-cyrillic_latin-600.woff') format('woff'), /* Modern Browsers */
}
/* montserrat-700 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/montserrat-v25-cyrillic_latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/montserrat-v25-cyrillic_latin-700.woff') format('woff'), /* Modern Browsers */
}
/* montserrat-800 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/montserrat-v25-cyrillic_latin-800.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/montserrat-v25-cyrillic_latin-800.woff') format('woff'), /* Modern Browsers */
}
/*!Шрифты---------------------------------------------------------------------------------------*/

/*!Переменные---------------------------------------------------------------------------------------*/
:root {
  --main-color: #FF9900;
}
:root {
  --buckground-color: #CACACA;
}
/*!Переменные---------------------------------------------------------------------------------------*/

/*!Общие---------------------------------------------------------------------------------------*/
.container {
  max-width: 1770px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.list {
}
.item {
}
.link {
}
/*!Общие---------------------------------------------------------------------------------------*/

/**header---------------------------------------------------------------------------------------*/
.header {

  &__container {
  }

  &__logo {
  }

  &__nav {
  }

  &__list {
  }

  &__item {
  }

  &__item-active {
  }

  &__link {
  }

  &__search {
  }

  &__search-icon {
  }

  &__search-active {
  }
}
/**header---------------------------------------------------------------------------------------*/